body {
   margin: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   box-sizing: content-box;
}

.up {
   position: fixed;
   text-decoration: none;
   height: 50px;
   width: 40px;
   background-color: #FF4800;
   color: #FFFFFF;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 25px;
   right: 10px;
}

.first-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #1F1F2E;
   height: 40px;
   align-items: center;
   padding: 5px 20px;
}


.header1-contact span{
   margin-right: 5px;
   margin-left: 5px;
   color: white;
   font-size: small;
}


.header1-social > a {
   margin: 0px 3px;
   padding: 3px 3px;
   text-decoration: none;
}

.sec-header {
   display: flex;
   flex-direction: row;
   height: 100px;
   align-items: center;
   justify-content: space-between;
}

.sec-h-logo a{
   text-decoration: none;
   color: #FF4800;
   font-size: 40px;
   font-weight: 1000;
   display: flex;
   align-items: center;
   margin-left: 30px;
}

.sec-h-logo img {
   width: 55px;
   margin: 0px 10px;
}

.sec-h-menu {
   display: flex;
   flex-direction: row;
   height: 100%;
}

.sec-h-menu a{
   text-decoration: none;
   color: #000000;
   font-size: 20px;
   font-weight: 700;
   padding: 37px 20px;
   box-sizing: content-box;
}

.sec-h-menu a:hover{
   text-decoration: none;
   color: #FFFFFF;
   font-size: 20px;
   font-weight: 700;
   padding: 37px 20px;
   box-sizing: content-box;
   background-color: #FF4800;
}

.getQuate {
   border-style: none;
   background-color: #FF4800;
   color: #FFFFFF;
   padding: 10px 30px;
   font-size: large;
   font-weight: 500;
   margin-right: 30px;
}

.getQuate:hover {
   border-style: none;
   background-color: #ca3900;
   color: #FFFFFF;
   padding: 10px 30px;
   font-size: large;
   font-weight: 500;
   margin-right: 30px;
   cursor: pointer;
}

section {
   display: flex;
   flex-direction: row;
   /* height: 500px; */
   padding: 80px 0px;
   justify-content: center;
   align-items: center;
   width: 56%;
   margin: auto;
}

.Home {
   /* height: 500px; */
   padding: 40px 0px 80px;
   background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('img/header.jpg');
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.Home .home-1st-h {
   color: #FF4800;
   font-size: 40px;
   font-weight: 1000;
   margin: 10px;
}

.Home .home-2nd-h {
   color: #FFFFFF;
   font-size: 70px;
   font-weight: 1000;
   margin: 10px;
   text-align: center;
}

.Search-sec {
   margin-top: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 80%;
   justify-content: center;
}

.Search-sec .search {
   height: 60px;
   width: 40%;
   border-style: none;
   padding-left: 10px;
   outline: none;
}

.Search-sec .search:focus{
   box-shadow: #FF4800 -2px 2px 2px -1px, #FF4800 0px -1px 1px 0px;
}


.Search-sec .submit {
   height: 60px;
   width: 15%;
   background-color: #FF4800;
   color: #FFFFFF;
   font-weight: 200;
   border-style: none;
}

.Search-sec .submit:hover {
   height: 60px;
   width: 20%;
   background-color: #ca3900;
   color: #FFFFFF;
   font-weight: 200;
   border-style: none;
   cursor: pointer;
}

.sec-h2 {
   font-size: 40px;
   font-weight: 900;
}

.sec-title {
   color: #FF4800;
   font-weight: 700;
   font-size: larger;
}

.sec-p {
   color: gray;
}


.About-Us .about-1st {
   display: flex;
   flex-direction: column;
   padding-right: 20px;
}

.about-1st img{
   height: 350px;
   width: 400px;
}

.about-1st span {
   height: 50px;
   background-color: #FF4800;
   font-size: 25px;
   font-weight: 700;
   text-align: center;
   padding-top: 10px;
}

.About-Us .about-2nd {
   display: flex;
   flex-direction: column;
   padding-top: 10px;
   /* padding-left: 20px; */
}

/* .about-2nd > span {
   color: #FF4800;
   font-weight: 700;
   font-size: larger;
}

.about-2nd >h2 {
   font-size: 40px;
   font-weight: 900;
} */
/* 
.about-2nd > p {
   color: gray;
} */

footer {
   background-color: #1f1f2e;
   /* height: 500px; */
}

.first-footer {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 30px 10px;
}

.first-footer .get-in-touch {
   display: flex;
   flex-direction: column;
   flex: 2;
   margin: 10px 30px;
}

.first-footer .get-in-touch h2{
   color: #FF4800;
   font-size: 35px;
   font-weight: 750;
}

.first-footer .get-in-touch span{
   color: white;
   font-size: 18px;
   font-weight: 500;
}

.quick-link {
   flex: 2;
   display: flex;
   flex-direction: column;
   margin: 10px 30px;
}

.f-links {
   display: flex;
   flex-direction: column;
   line-height: 1.8;
}

.first-footer .quick-link h2{
   color: #FF4800;
   font-size: 35px;
   font-weight: 750;
}

.first-footer .quick-link a{
   color: white;
   font-size: 17px;
   font-weight: 500;
   text-decoration: none;
}

.first-footer .quick-link a:hover{
   color: white;
   font-size: 17px;
   font-weight: 500;
   text-decoration: underline;
}


.newsletter {
   flex: 3;
   display: flex;
   flex-direction: column;
   margin: 10px 30px;
}


.first-footer .newsletter h2{
   color: #FF4800;
   font-size: 35px;
   font-weight: 750;
}

.first-footer .newsletter p{
   color: white;
   font-size: 16px;
   font-weight: 500;
   text-decoration: none;
}

.footer-email {
   width: 100%;
}

.email-sender {
   height: 58px;
   width:80%;
   border-style: none;
   padding-left: 10px;
   outline: none;
}

.email-sender:focus {
   /* border: 0.5px #FF4800 solid; */
   box-shadow: #FF4800 -2px 2px 2px -1px, #FF4800 0px -1px 1px 0px;
}

.sec-footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 80px 30px 0px;
   padding: 10px;
   box-shadow: 0px -3px 2px -3px #fafafa;
}

.copy-rights {
   color: #FFFFFF;
   font-size: large;
   font-weight: 500;
}

.copy-rights a{
   color: #FF4800;
   font-size: large;
   font-weight: 500;
}


.privacy-terms a{
   color: #FFFFFF;
   font-size: large;
   font-weight: 500;
   margin: 0px 5px;
   text-decoration: none;
}

.get-a-qoute {
   display: flex;
   flex-direction: row;
   background-color: gainsboro;
   width: 100%;
}

.get-a-qoute {
   padding: 0;
}

.get-a-qoute-1st {
   width: 40%;
}

.our-numbers {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.numbers {
   font-size: 35px;
   font-weight: 900;
   color: #FF4800;
}
.get-a-qoute-2nd {
   background-color: #FF4800;
   width: 25%;
   height: 100%;
   padding: 80px 20px;
   margin-left: 10px;
}

.form-qoute {
   display: flex;
   flex-direction: column; 
   align-items: center;
   height: 100%;
}

.input-form {
   width: 90%;
   height: 50px;
   padding-left: 15px;
   outline: none;
   margin: 20px 10px;
   color: gray;
   border-style: none;
   font-size: 15px;
}


.selection {
   width: 94%;
}

.input-buttun {
   width: 96%;
   height: 55px;
   padding-left: 15px;
   outline: none;
   margin: 20px 10px;
   color: white;
   border-style: none;
   font-size: 15px;
   background-color:#101017;
}

.our-services {
   flex-direction: column;
   width: 70%;
}

.services {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.service-i {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 80%;
}

.service-i > div {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70px;
   width: 90%;
   background-color: #FF4800;
   font-size: 17px;
   font-weight: 600;
}

.service-i > p {
   width: 90%;
}

.service-i > a {
   text-decoration: none;
   color: #FF4800;
   font-weight: 500;
}

.service-i > a:hover {
   text-decoration: none;
   color: #ad3302;
   font-weight: 500;
}

.service-i span {
   color: #FFFFFF;
}

.why-choose-us {
   background-color: gainsboro;
   width: 100%;
   padding: 0;
}

.feature {
   width: 30%;
   padding-left: 20px;
}

.feature span {
   font-weight: 500;
   font-size: 15px;
   margin-bottom: 15px;
}

.feature div {
   margin-bottom: 5px;
}

.btn {
   width: 130px;
   height: 40px;
   background-color: #FF4800;
   border-style: none;
   color: white;
   font-weight: 480;
   font-size: 15px;
}

.btn:hover {
   background-color: #aa3000;
   cursor: pointer;
}

.why-choose-us img{
   width: 30%;
}

.price-plan {
   flex-direction: column;
   width: 70%;
}

.prices {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
}

.price {
   background-color: gainsboro;
   width: 30%;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 50px;
}

sup , sub {
   color: gray;
   font-size: 15px;
}

.price-type {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80px;
   background-color: #FF4800; 
   width: 100%;
   font-size: 30px;
   font-weight: 700;
}

.delivery-team {
   flex-direction: column;
   width: 70%;
}

.team {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.worker {
   width: 23%;

}

.worker>img {
   width: -webkit-fill-available;
   margin-bottom: -3px;
}

.worker-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 80px;
   width: 100%;
   background-color: gainsboro;
}

.worker-name {
   font-size: large;
   font-weight: 700;
}

.worker-design {
   font-size: medium;
   color: gray;
}

.worker-social {
   display: flex;
   justify-content: space-evenly;
   height: 80px;
   width: 100%;
   background-color: #FF4800;
   align-items: center;
   transition: -0.5s;
   display: none;
}

.worker:hover .worker-social {
   display: flex;
   
}

.worker:hover .worker-info {
   display: none;
   
}


@media only screen and (max-width: 768px) {
   /* For mobile phones: */
   .first-header {
      flex-direction: column;
      height: 50px;
   }
   .sec-h-menu {
      display: none;
   }

   section {
      width: 100%;
   }

   .Home {
      padding: 50px 0px;
   }

   .Search-sec .search {
      width: 50%;
   }

   .Search-sec .submit {
      width: 20%;
   }

   .first-footer {
      flex-direction: column;
   }

   .About-Us {
      flex-direction: column;
   }


   .sec-footer {
      flex-direction: column;
   }

   .get-a-qoute {
      flex-direction: column;
   }
   
   .get-a-qoute-2nd{
      width: 90%;
      margin: 0;
      padding: 0;
   }

   .get-a-qoute-1st {
      width: 90%;
      padding-top: 10px;
   }

   .form-qoute {
      width: 80%;
      align-items: center;
      margin: auto;
      padding-top: 20px;
   }

   .services {
      flex-direction: column;
      align-items: center;
   }

   .service-i {
      margin-top: 50px;
   }

   .why-choose-us {
      flex-direction: column;
   }

   .why-choose-us img{
      width: 100%;
   } 

   .feature {
      width: 70%;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 50px;
   }
   
   .price-plan {
      width: 100%;
   }

   .prices {
      flex-direction: column;;
      width: 90%;
   }

   .price {
      width: 90%;
      margin: auto;
      margin-bottom: 15px;
   }

   .cnter {
      text-align: center;
   }

   .team {
      flex-direction: column;
   }

   .worker {
      width: 70%;
      margin: auto;
      margin-bottom: 15px;
   }
}

